#root {
  margin: 0 1rem;
}

body {
  background-color: #e6e6e6;
}

.row {
  margin: 0;
}

.card-hover:hover {
  transform: scale(1.04); /* Slightly increase size on hover */
}

/* PROPERTIES */
#properties .card {
  height: 100%;
}
