#root {
  margin: 0 1rem;
}

.row {
  margin: 0;
}


/* PROPERTIES */
#properties .card:hover {
  transform: scale(1.04); /* Slightly increase size on hover */
}

#properties .card {
  height: 100%;
}